
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --verde: #43B175;
    --azulprincipal: #045294;
    --azulsecundario: #B0D2DE;
    --texto: #565555;
}

body {
    font-family: "Mulish", sans-serif;
}

.container-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-body main {
    background-color: transparent;
    border: 0;
    flex: 1;
}

@import './repositorio';
@import './header';
@import './section-inicio';
@import './section-servicos';
@import './section-faq';
@import './section-contato';
@import './section-atendimento';
@import './footer';